# IDEs
.vscode/
.idea/

# Node/Build tools
node_modules/
.DS_Store
dist/

# Python/Django (For your partner)
__pycache__/
*.py[cod]

# Environment variables and secrets
.env
.env.*
!.env.example
db.sqlite3